html,body,.container,.fullHeight {
	height: 100%;
}

html,body,.container,.fullWidth {
	width: 100%;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Custom page header */
.header {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  top:0;
}

.logo {
	background: url('../images/logo.jpg') no-repeat left;
}

.content {
	width: 100%;
	height:80%;
}

/* Custom page footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the minimum height of the footer here */
  min-height: 5px;
  background-color: rgb(238, 238, 238);
}

.rightPara, .language-select {
	text-align: right;
	padding-top: 0px;
}

.leftPara {
	text-align: left;
	padding-top: 0px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 100px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 5px;
  }
}

@-moz-keyframes dropHeader {
    0% {
        -moz-opacity: 0;
    }
    100% {
        -moz-opacity: 1;
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-opacity: 0;
    }
    100% {
        -webkit-opacity: 1;
    }
}
@keyframes dropHeader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}